{
  "Configuration": {
    "Magic": 2017001,
    "Version": 23,
    "SeedList": [
      "node-mainnet-002.ioex:20388",
      "node-mainnet-006.ioex:20388",
      "node-mainnet-014.ioex:20388",
      "node-mainnet-016.ioex:20388",
      "node-mainnet-021.ioex:20388"
    ],
    "HttpInfoPort": 20333,
    "HttpInfoStart": true,
    "HttpRestPort": 20334,
    "HttpWsPort": 20335,
    "WsHeartbeatInterval": 60,
    "HttpJsonPort": 20336,
    "NoticeServerUrl": "",
    "OauthServerUrl": "",
    "NodePort": 20338,
    "NodeOpenPort": 20866,
    "OpenService": false,
    "PrintLevel": 1,
    "MaxLogsSize": 0,
    "MaxPerLogSize": 0,
    "IsTLS": false,
    "CertPath": "./cert.pem",
    "KeyPath": "./cert-key.pem",
    "CAPath": "./ca.pem",
    "MultiCoreNum": 4,
    "MaxTransactionInBlock": 10000,
    "MaxBlockSize": 8000000,
    "MinCrossChainTxFee": 10000,
    "PowConfiguration": {
      "PayToAddr": "8VYXVxKKSAxkmRrfmGpQR2Kc66XhG6m3ta",
      "AutoMining": false,
      "MinerInfo": "IOEX",
      "MinTxFee": 100,
      "ActiveNet": "MainNet"
    }
  }
}
