{
  "Configuration": {
    "Magic": 2018001,
    "Version": 23,
    "SeedList": [
      "node-testnet-001.ioex.co:21866",
      "node-testnet-002.ioex.co:21866",
      "node-testnet-003.ioex.co:21866"
    ],
    "HttpInfoPort": 21333,
    "HttpInfoStart": true,
    "HttpRestPort": 21334,
    "HttpWsPort": 21335,
    "WsHeartbeatInterval": 60,
    "HttpJsonPort": 21336,
    "NodePort": 21338,
    "NodeOpenPort": 21866,
    "OpenService": false,
    "PrintLevel": 1,
    "MaxLogsSize": 0,
    "MaxPerLogSize": 0,
    "IsTLS": false,
    "CertPath": "./sample-cert.pem",
    "KeyPath": "./sample-cert-key.pem",
    "CAPath": "./sample-ca.pem",
    "MultiCoreNum": 4,
    "MaxTransactionInBlock": 10000,
    "MaxBlockSize": 8000000,
    "MinCrossChainTxFee": 10000,
    "FoundationAddress":"8ZNizBf4KhhPjeJRGpox6rPcHE5Np6tFx3",
    "PowConfiguration": {
      "PayToAddr": "EeEkSiRMZqg5rd9a2yPaWnvdPcikFtsrjE",
      "AutoMining": false,
      "MinerInfo": "IOEX",
      "MinTxFee": 100,
      "ActiveNet": "MainNet"
    }
  }
}
